---
import { Image } from "astro:assets";
import hero_img from "@assets/hero_2.jpeg";
import Button from "@components/Button.astro";
---

<div class="relative">
  <Image
    src={hero_img}
    alt="Ramen Life"
    class="w-full h-full fit-cover object-cover object-center rounded-2xl rounded-tl-none rounded-tr-none opacity-100 filter-none mix-blend-darken max-h-[500px]"
    width="500"
    height="500"
  />
  <div
    class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-white text-center"
  >
    <h1 class="text-6xl border rounded-xl p-2">FreshBite</h1>
    <h4 class="text-lg uppercase">
      Savor the Flavor: A Template for Fresh Dining Experiences
    </h4>
    <Button styles="mt-20">Book a Table</Button>
  </div>
</div>
