---
// section to shouw people comment of the ramen shop
const commentsData = [
  {
    name: "John Doe",
    date: "12-12-2023",
    comment: "The ramen here is amazing!",
  },
  {
    name: "Jane Smith",
    date: "12-13-2023",
    comment: "I love the variety of flavors. Highly recommended!",
  },
  {
    name: "Alice Johnson",
    date: "12-14-2023",
    comment: "Great atmosphere and friendly staff!",
  },
  {
    name: "Bob Anderson",
    date: "12-15-2023",
    comment: "The miso ramen is my favorite. So delicious!",
  },
  {
    name: "Eva Garcia",
    date: "12-16-2023",
    comment: "Visited with friends and had a fantastic time. Will come back!",
  },
  {
    name: "Michael Brown",
    date: "12-17-2023",
    comment: "Authentic taste and quick service. Impressed!",
  },
  // Add more comments as needed
];
---

<section class="container m-auto my-16">
  <div class="flex justify-center">
    <h2 class="text-slate-700 font-sans">Comments</h2>
  </div>
  <div class="flex flex-row overflow-x-scroll gap-8">
    {
      commentsData.map((comment, index) => {
        return (
          <div class="rounded-lg bg-slate-100 text-slate-700 min-w-[400px] border p-4  shadow-xl ">
            <h3 class="text-xl flex justify-between whitespace-nowrap">
              {comment.name}
              <span class="text-sm text-slate-500">{comment.date}</span>
            </h3>
            <p>{comment.comment}</p>
          </div>
        );
      })
    }
  </div>
</section>
