<div class="h-14 bg-slate-900 flex justify-between items-center text-white">
  <div class="bg-text-gradient">LOGO</div>
  <div>
    <ul>
      <li class="inline-block px-4 py-2 font-outfit">Home</li>
      <li class="inline-block px-4 py-2 font-sans">About</li>
      <li class="inline-block px-4 py-2 font-montserrat">Menu</li>
      <li class="inline-block px-4 py-2 font-gameOver">Gallery</li>
      <li class="inline-block px-4 py-2">Contact</li>
    </ul>
  </div>
</div>
